@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 0%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 0%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 0%;

    --primary: 0 0% 0%;
    --primary-foreground: 0 0% 100%;

    --secondary: 0 0% 80%;
    --secondary-foreground: 0 0% 20%;

    --muted: 0 0% 90%;
    --muted-foreground: 0 0% 40%;

    --accent: 0 0% 90%;
    --accent-foreground: 0 0% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;

    --border: 0 0% 80%;

    --input: 0 0% 80%;

    --ring: 0 0% 0%;

    --radius: 0.5rem;

    --chart-1: 0 0% 20%;
    --chart-2: 0 0% 40%;
    --chart-3: 0 0% 60%;
    --chart-4: 0 0% 80%;
    --chart-5: 0 0% 10%;
  }

  .dark {
    --background: 0 0% 10%;
    --foreground: 0 0% 90%;

    --card: 0 0% 10%;
    --card-foreground: 0 0% 90%;

    --popover: 0 0% 10%;
    --popover-foreground: 0 0% 90%;

    --primary: 0 0% 0%;
    --primary-foreground: 0 0% 90%;

    --secondary: 0 0% 20%;
    --secondary-foreground: 0 0% 90%;

    --muted: 0 0% 20%;
    --muted-foreground: 0 0% 60%;

    --accent: 0 0% 20%;
    --accent-foreground: 0 0% 90%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;

    --border: 0 0% 20%;

    --input: 0 0% 20%;

    --ring: 0 0% 80%;

    --chart-1: 0 0% 80%;
    --chart-2: 0 0% 60%;
    --chart-3: 0 0% 40%;
    --chart-4: 0 0% 20%;
    --chart-5: 0 0% 90%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply text-foreground;
  }
}


input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: white;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
  color: white;
  caret-color: white;
}
